* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #80b7f5;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  background-color: #251313;
  color: blanchedalmond;
  padding: 20px;
  border-radius: 2%; }
  .header h1 {
    color: #a4d5d6;
    text-align: center; }
  .header ul {
    text-align: right; }
  .header li {
    display: inline-block;
    color: blanchedalmond; }
  .header a {
    color: blanchedalmond; }

.text {
  margin: 20px;
  padding: 10px;
  color: blanchedalmond;
  font-family: "Yellowtail", cursive;
  font-style: oblique;
  line-height: 2;
  background-color: #80b7f5; }
  .text h2 {
    font-size: 1.5;
    font-family: "Yellowtail", cursive;
    color: blanchedalmond;
    text-align: center; }

.caja {
  margin: auto;
  padding: 10px;
  color: beige;
  font-size: 1rem;
  font-family: "Yellowtail", cursive;
  font-style: oblique;
  line-height: 2;
  background-color: darkblue;
  color: darkgrey; }
  .caja h2 {
    font-size: 1.5;
    font-family: "Yellowtail", cursive;
    color: "Yellowtail", cursive;
    text-align: center; }

.img {
  margin: auto;
  padding: 20px;
  background-color: #f50404; }

.disco {
  color: beige;
  font-family: "Yellowtail", cursive;
  font-style: oblique;
  line-height: 2;
  background-color: #80b7f5; }
  .disco ol {
    display: block; }
  .disco h2 {
    font-size: 1.8;
    font-family: "Yellowtail", cursive;
    color: blanchedalmond;
    text-align: center; }
  .disco h3 {
    font-size: 1.3rem;
    font-family: "Yellowtail", cursive;
    color: blanchedalmond;
    text-align: center; }

.footer {
  background-color: #251313;
  color: "Yellowtail", cursive;
  padding: 20px;
  text-align: right; }
