.disco{
    color: beige;
    font-family: $ff_letra;
    font-style: oblique;
    line-height: 2;
    background-color: $bg_claro;
    ol{
        display: block;
    }
    h2{
        font-size: 1.8;
        font-family: $ff_letra;
        color: $c_claro; 
        text-align: center;
    }
    h3{
        font-size: 1.3rem;
        font-family: $ff_letra;
        color: $c_claro; 
        text-align: center;
    }
}